@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Fira+Sans&family=Poppins:wght@400;600&family=Source+Code+Pro:wght@300&display=swap');



body {
  font-family: "Poppins";
  margin: 0;
}

h2 {
  color: #f6f6f6;
}

.Calor-text {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.image-switcher-container {
  position: relative;
  height: 100vh;
  display: inline-block;
}

.image-switcher-container h1 {
  position: absolute;
  top: 20px;
  /* Adjust this value to position vertically */
  left: 20px;
  /* Adjust this value to position horizontally */
  margin: 0;
  padding: 5px;
  color: white;
}

.home-main {
  display: flex;
  /* flex-direction: row; */
  float: right;
  width: 100%;
  height: max-content;
  align-items: center;
  background: linear-gradient(-45deg, #ffffff, #514c4c88);

}

.TypeWriter {
  margin: 10rem;
  /* width: 6rem;
  height: 3rem; */
  /* position: absolute; */
}

.get-started {
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  position: fixed;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  bottom: 20px;
  /* Adjust the distance from the bottom as needed */
  right: 20px;
  background-color: black;
  /* Set button background color to black */
  color: #e1e0e0;
  border-radius: 30px;
}

.home-main-content {
  align-items: flex-start;
  background: transparent;
}

.image-switcher-container {
  /* margin: 10%; */
  height: 100%;
  /* Take up full height */
  /* overflow: hidden; */
  /* Hide any overflow content */
}

.content {
  flex: 1;
  /* Take up remaining width */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Add padding to center content */
  /* overflow: auto; */
  position: relative;
  /* Add scrollable content if needed */
}

.header {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.youtube-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #0968cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-section {
  margin-top: 20px;
}

.table {
  margin-left: 10vh;
  width: 50rem;
  height: fit-content;
}


.analysis-mainContainer {
  width: 100%;
  height: 100%;
  background-color: #cfcece;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

h3 {
  color: fffdfd;
}

.analysis-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  /* height: 100vh; */
}

.chatMain-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #f9f8fd;
}

.chatSideBar-container {
  display: flex;
  flex-direction: row;
  width: 27vw;
}

.chatSideBar-mainLeft {
  display: flex;
  width: 3vw;
  background-color: #202020;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272727;
  height: 0.1px;
  width: 10px;
  background-color: #272727;
}

#style-3::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
}

.chatIcon {
  margin-top: 30px;
  margin-left: 10px;
  width: 33px;
  /* Set width as needed */
  height: 33px;
  /* Set height as needed */
  margin-right: 10px;
  /* Adjust margin as needed */
}

.chatSideBar-mainRight {
  display: flex;
  flex-direction: column;
  width: 24vw;
  background-color: #272727;
}

.chatSideBar-mainRightHeaderContainer {
  width: 100%;
  background-color: hsl(0, 1%, 38%);
  height: 8vh;
  display: flex;
  flex-direction: row;
  color: white;
}

.chatSideBar-mainRightHeader {
  margin-top: 4px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* Style the heading within the header */
.chatSideBar-mainRightHeaderHeading h1 {
  /* margin: 0; */
  margin-left: 10px;
  font-size: 1.5em;
  /* Adjust font size as needed */
  color: #333;
  /* Set text color as needed */
  font-family: "Poppins";
}

/* Style the icons container */
.chatHeaderIcons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Style the plus image */
.plusImage {
  width: 24px;
  /* Set width as needed */
  height: 24px;
  /* Set height as needed */
  margin-right: 10px;
  /* Adjust margin as needed */
  cursor: pointer;
}

.closeBtn {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* Apply styles to the chat container */
.chatSideBar-mainRightHeaderContainer2 {
  overflow-y: auto;
  max-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.chatsContainer .chatItem {
  margin: 8px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  font-size: 1rem;


}

.chatsContainer .chatItem:hover {
  color: #000000;
  background-color: #e7e7e7;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  cursor: pointer;
}

.chatsContainer .chatItem:hover p {
  color: #000000;
  font-family: "Poppins";
}

.chatsContainer .chatItem.active {
  background-color: #e7e7e7;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #ddd;
}

.chatsContainer .chatItem.active svg {
  stroke: black;
}

.chatsContainer .chatItem:hover svg {
  stroke: black;
}

.chatItem .chatEditElements {
  display: none;
}

.chatItem .chatItemElements {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 70%;
}


.chatItem.active .chatItemElements {
  width: 70%;
  max-width: 70%;

}

.chatItem.active .chatEditElements {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 30%;
}

.icon-sm {
  color: white;
  margin-right: 10px;
  height: 1.2em;
  width: 2em;
}

.chatItemElements p {
  font-family: "Poppins";
  color: #e7e7e7;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.chatItemElements:hover p {
  font-family: "Poppins";
  color: #000000;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatItemElements {
  display: flex;
  align-items: center;
}

.chatItem.active .chatItemElements p {
  color: #000000;
  margin: 0;
  /* Remove default margin to ensure tight spacing */
  white-space: nowrap;
  /* Prevent line breaks */
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for overflow text */
}



.chatItemElements {
  max-width: 200px;
}

.icon-sm:hover {
  color: black;
}

/* Show the scrollbar when hovering over the chat container */
.chatSideBar-mainRightHeaderContainer2:hover {
  scrollbar-color: #aaa #eee;
}

/* Style the scrollbar in the chat container */
.chatsContainer {
  scrollbar-width: thin;
  scrollbar-color: #686464 #eee;
}

.chatsContainer::-webkit-scrollbar {
  width: 8px;
}

.chatsContainer::-webkit-scrollbar-thumb {
  background-color: #696565;
}

.chatsContainer::-webkit-scrollbar-track {
  background-color: #7d2c2c;
}

.chatWindow-container {
  width: 73vw;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Calor-Logo {
  width: 90px;
  height: 90px;
}

.chatWindow-container-centre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .my-message { */
/* background: $green; */
/* } */

.message {
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 50%;
  position: relative;
  float: right;

  &:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: green;
    border-width: 10px;
    margin-left: -10px;
  }
}

.other-message {
  background: #383838;

  &:after {
    border-bottom-color: #383838;
    left: 93%;
  }
}


/* textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  
} */

/* button {
  float: right;
  color: blue;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
  
  &:hover {
    color: darken(blue, 7%);
  }
} */

.chat-message {
  padding: 30px;



  .fa-file-o,
  .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

  }


}


.chatWindowMainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chatWindowMainHeaderBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  background-color: #2c2c2c;
}

.chatWindowMainElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background-color: #626060;
  overflow-y: auto;
  /* Enable vertical scrollbar when content exceeds container height */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
  /* Firefox */
}

.chatWindowMainChatElements {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  max-height: 50vh;
  background-color: #bb2727;
  align-items: center;
  justify-content: space-between;
}

.chatWindowMainChatElements .chatSVGContainer {
  max-width: 20%;
  height: fit-content;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  margin-left: 1.2rem;
}

.chatWindowMainChatElements .chatInputTextContainer {
  background-color: #000000;
  width: 100%;
  height: 100%;
  margin-left: 1.2rem;
}

.chatWindowMainChatElements .chatInputTextContainer .inputText {
  height: 50%;
  width: 90%;
  margin-top: 10px;
  flex: 1;
  padding: 10px;
  font-size: medium;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  background-color: transparent;
  caret-color: #e7e7e7;
  cursor:auto ;
  color: #e7e7e7;
}


.chatWindowMainChatElements .chatInputTextContainer .inputText::placeholder{
  color: #e7e7e7;
  font-size: medium;
}


.modal {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modalMain {
  width: 100%;
}

.closeBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 50%;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #626060;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #626060, #2c2c2c);
  border-image-slice: 1;
}

.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.modalBtns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  gap: 5px;
  padding-right: 6px;
  padding-bottom: 2px;
}

.createBtn {
  margin-top: 1rem;
  width: 20%;
  height: 2rem;
  background-color: rgba(185, 28, 28);
  color: rgba(245, 245, 245);
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
}

.createBtn:hover {
  background-color: rgb(134, 22, 22);
}

.cancelBtn {
  margin-top: 1rem;
  cursor: pointer;
  width: 20%;
  height: 2rem;
  color: #1e1e1e;
  background-color: #aeaaaa;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  /* padding: 0.5rem 0.75rem; */
}

.cancelBtn:hover {
  background-color: #7b7878;
  color: #fff;
}

/* .micControlBtn{
  display: flex;
  width: 100%;
} */